In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from tabulate import tabulate
%config InlineBackEnd.figure_format='retina'

In [2]:
ticker = 'twtr'
twtr = yf.download(ticker, start='2016-01-01', end='2022-06-30')
twtr.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-12-31  22.170000  23.280001  22.150000  23.139999  23.139999  19479400
2016-01-04  22.639999  22.840000  22.110001  22.559999  22.559999  15325000
2016-01-05  22.790001  23.000000  21.850000  21.920000  21.920000  17077700
2016-01-06  21.620001  22.180000  21.180000  21.389999  21.389999  14033600
2016-01-07  21.000000  21.480000  20.200001  20.260000  20.260000  20759800

In [3]:

# Calculate the daily returns in a new column
def daily_returns(df:pd.DataFrame):
    df['daily_returns'] = df['Adj Close'].pct_change()
    return df

# Calculate the cumulative returns in a new column
def cumulative_returns(df:pd.DataFrame):
    df['cumulative_returns'] = (1 + df['daily_returns']).cumprod()
    return df
    
# Calculate the CAGR assuming 252 trading days
def CAGR(df:pd.DataFrame):
    trading_days = 252
    n = len(df)/ trading_days
    cagr = (df['cumulative_returns'][-1])**(1/n) - 1
    return cagr

# Chain the previous functions with pipe
cagr_twtr = (twtr
 .pipe(daily_returns)
 .pipe(cumulative_returns)
 .pipe(CAGR)
)*100

# Print the result in a table
print(tabulate([['Twitter',cagr_twtr]],headers=['Company','CAGR %'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤══════════╕
│  Company  │  CAGR %  │
╞═══════════╪══════════╡
│  Twitter  │   7.86   │
╘═══════════╧══════════╛

In [4]:
# Calculate the volatility by multiplying the standard deviation of daily returns by the root square of 252
def volatility(df:pd.DataFrame):
    trading_days = 252
    vol = df['daily_returns'].std() * np.sqrt(trading_days)
    return vol

# Chaining the previous functions with pipe
vol_twtr = (twtr
 .pipe(daily_returns)
 .pipe(volatility)
)*100

# Print the result in a table
print(tabulate([['Twitter',vol_twtr]],headers=['Company','Volatility %'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤════════════════╕
│  Company  │  Volatility %  │
╞═══════════╪════════════════╡
│  Twitter  │     52.87      │
╘═══════════╧════════════════╛

In [5]:
# Apply the Sharpe ratio formula
def sharpe_ratio(df:pd.DataFrame,rf):
    sharpe = (CAGR(df) - rf)/ volatility(df)
    return sharpe

# Chaining previous functions with pipe
sharpe_twtr = (twtr
 .pipe(daily_returns)
 .pipe(cumulative_returns)
 .pipe(sharpe_ratio,0.03)
)

# Print the result in a table
print(tabulate([['Twitter',sharpe_twtr]],headers=['Company','Sharpe Ratio'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤════════════════╕
│  Company  │  Sharpe Ratio  │
╞═══════════╪════════════════╡
│  Twitter  │      0.09      │
╘═══════════╧════════════════╛

In [6]:
ticker2 = 'meta'
meta = yf.download(ticker2, start='2016-01-01', end='2022-06-30')
meta.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-12-31,106.000000,106.169998,104.620003,104.660004,104.660004,18391100
2016-01-04,101.949997,102.239998,99.750000,102.220001,102.220001,37912400
2016-01-05,102.889999,103.709999,101.669998,102.730003,102.730003,23258200
2016-01-06,101.129997,103.769997,100.900002,102.970001,102.970001,25096200
2016-01-07,100.500000,101.430000,97.300003,97.919998,97.919998,45172900

In [7]:
# Apply the Sharpe ratio formula
def sharpe_ratio(df:pd.DataFrame,rf):
    sharpe = (CAGR(df) - rf)/ volatility(df)
    return sharpe

# Chaining previous functions with pipe
sharpe_meta = (meta
 .pipe(daily_returns)
 .pipe(cumulative_returns)
 .pipe(sharpe_ratio,0.03)
)

# Print the result in a table
print(tabulate([['Meta',sharpe_meta]],headers=['Company','Sharpe Ratio'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤════════════════╕
│  Company  │  Sharpe Ratio  │
╞═══════════╪════════════════╡
│   Meta    │      0.11      │
╘═══════════╧════════════════╛

In [8]:
ticker3 = 'snap'
snap = yf.download(ticker3, start='2016-01-01', end='2022-06-30')
snap.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-03-02  24.000000  26.049999  23.500000  24.480000  24.480000  217048900
2017-03-03  26.389999  29.440001  26.059999  27.090000  27.090000  148166400
2017-03-06  28.170000  28.250000  23.770000  23.770000  23.770000   72903000
2017-03-07  22.209999  22.500000  20.639999  21.440001  21.440001   71857800
2017-03-08  22.030001  23.430000  21.309999  22.809999  22.809999   49819100

In [9]:
# Apply the Sharpe ratio formula
def sharpe_ratio(df:pd.DataFrame,rf):
    sharpe = (CAGR(df) - rf)/ volatility(df)
    return sharpe

# Chaining previous functions with pipe
sharpe_snap = (snap
 .pipe(daily_returns)
 .pipe(cumulative_returns)
 .pipe(sharpe_ratio,0.03)
)

# Print the result in a table
print(tabulate([['Snap',sharpe_snap]],headers=['Company','Sharpe Ratio'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤════════════════╕
│  Company  │  Sharpe Ratio  │
╞═══════════╪════════════════╡
│   Snap    │     -0.17      │
╘═══════════╧════════════════╛

In [10]:
# Print the result in a table
print(tabulate([['Twitter',sharpe_twtr],['Snap',sharpe_snap],['Meta',sharpe_meta]],headers=['Company','Sharpe Ratio'],tablefmt = 'fancy_grid',stralign = 'center', numalign= 'center',floatfmt=".2f"))

╒═══════════╤════════════════╕
│  Company  │  Sharpe Ratio  │
╞═══════════╪════════════════╡
│  Twitter  │      0.09      │
├───────────┼────────────────┤
│   Snap    │     -0.17      │
├───────────┼────────────────┤
│   Meta    │      0.11      │
╘═══════════╧════════════════╛